@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/57701bbb3530292347bc5e1cd217e664?family=DejaVu+Sans+Mono');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'DejaVuSansMono', sans-serif; */
}

body{
    background: linear-gradient(#fff, rgb(172, 172, 172));
    min-height: 100vh;
    overflow: hidden;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo{
    color: #000;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#header .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navigation li{
    list-style: none;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
}

#header .navigation li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;
}

#header .navigation li a:hover,
#header .navigation li a.nav-home
{
    background: rgb(150, 150, 150);
    color: #111;
}

.content{
    /* font-family: 'DejaVuSansMono', sans-serif; */
    position: relative;
    max-width: 700px;
    justify-content: space-between;
}

.content h1{
    font-family: 'Poppins', sans-serif;
}

.content p{
    font-family: 'DejaVuSansMono', sans-serif;
    color: #000;
    font-size: 1.2em;
    line-height: 1.75em;
    font-weight: 300;
}

.btn{
    font-family: 'DejaVuSansMono', sans-serif;
    position: relative;
    background: #000;
    color: #fff;
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-flex;
    font-size: 1em;
    font-weight: 400;
}

.nav-bar{
    min-height: 100vh;
    padding: 40px 100px;
    display: flex;
    align-items: center;
}

.clipart-box img{
    margin-left: 50px;
    max-width: 450px;
    margin-top: 60px;
}

.main-clipart{
    filter: saturate(0%) brightness(70%)
}